h1 {
    color: chartreuse;
}
html {
    background-color: black;

}
p {
   font-size: large;
   font-style: oblique;
    color: cyan;

}
.footer{ 
    color: blue;
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}  
.facts{
    color: orange;
    
}
.bottmomNav :hover {
    color: springgreen;
}
