h1 {
    color: chartreuse;
}
html {
    background-color: black;

}
p {
   font-size: large;
   font-style: oblique;
    color: cyan;

}
.footer { 
    color: blue;
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}  
.origami .facts{
    color:greenyellow;
    position: relative;
    opacity: 0;
}
.origami:hover .facts{
    opacity:1 ;
}

a:hover {
    color: springgreen;
}
a {
text-decoration: none;
}
a:hover img{
transform: scale(1.5);
}